/* Este repositório base fué creado para ayudarte en caso que no sepas como comenzar, recuerda que el portafolio es tu carta de presentación y debes darle tu cara, por eso te invitamos a personalizarlo según tu estilo y preferencias no te limites apenas al layout propuesto en figma  
*/
:root {
    --color-de-fondo: #F5F5F5;
    --color-de-fondo-menu: #ffffff;
    --color-de-link: #000000;
}

body {
    background-color: var(--color-de-fondo);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    line-height: 1.6;
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-de-link);
}

/* ------------------------------ Sección Menú -------------------------------*/
.cabecera {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: var(--color-de-fondo-menu);
    padding: 0.5% 7%;
}

.cabecera__logo {
    max-width: 80px; /* Ajuste para pantallas pequeñas */
    padding: 1% 2%;
}

.cabecera__titulo {
    font-size: 1.2rem;
    text-align: center;
}
.navegacion{
    display: flex;

}
.navegacion__lista {
    display: none;
}

.navegacion__elemento a {
    font-size: 0.9rem;
}
/* ------------------------------ Sección Presentación-sho ------------------------------*/
.presentacion{
    padding-left: 5%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
}
 .presentacion__foto{
    width: 80%;
 }
.redes{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

/* ------------------------------ Sección sobre mí ----------------------------------*/
.sobre-mi{
    padding: 1.5% 7%;
    background-color: rgb(234, 242, 253);
}

/*------------------------------ Sección de Habilidades y aficiones------------------------------*/

.habilidades, .aficiones{
    text-align: center;
    padding: 2% 1%;
}
.habilidades__lista, .aficiones__lista{
    display: flex;
    flex-wrap: wrap;
    /* margin-right: -15px;
    margin-left: -15px; */
} 

.habilidades__elemento, .aficiones__elemento {
    /* padding: 15px; */
    flex: 0 0 50%;
}

/*------------------------------ Sección de Proyectos --------------------------------*/
.formacion__lista{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.formacion{
    text-align: center;
    padding: 3% 5%;
}
.proyectos{
    text-align: center;
}
.Experiencia_profecional{
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap:10px;
    padding:3% 8%;
}
h3 {
    text-align: center;
}
.formacion__icono{
    width: 180px;
    height: 120px;
}
.proyectos__contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*------------------------------ Sección de Contacto ---------------------------------*/
.img__contacto{
    display: none;
}
.contacto{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin: 10px 50px;
}
.contacto__formulario{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.contacto__boton{
    width:170px;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    padding: 6px;
    height: 35px;
    background-color:rgb(18, 51, 213) ;
    color: rgb(255, 255, 255);
    border: none;
    /* border-radius: 12px; */
    cursor: pointer;
    transition: transform 0.3s ease; /* Suaviza la animación */
}
.contacto__campo {
    width: 80%;
    padding: 6px; 
    font-size: 13px; 
    margin-bottom: 7px; 
}

.contacto__campo--textarea {
    height: 100px; /* Aumenta la altura del textarea */
}


.footer{
    background-color: #66b2e9;
    text-align: center;
}

/* ------------------------------ Responsividad ---------------------------------------*/

/*Tablets y pantallas más grandes*/
@media (min-width: 768px){
    .cabecera {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .presentacion{
        flex-direction: row;
        justify-content: space-around;
    }
    .cabecera__logo {
        max-width: 100px;
    }
    .cabecera__titulo {
        font-size: 1.5rem;
    }

    .navegacion__lista {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-top: 0;
    }

    .navegacion__elemento a {
        font-size: 1rem;
    }

    .habilidades__elemento, .aficiones__elemento {
        flex: 0 0 33.33%;
    }
    /*formulario*/
    .formacion__lista{
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 0;
        gap: 15px;
    }
    .contacto__formulario{
        width:70%;
    }
    .presentacion__foto{
        width: 30%;
     }

}

/* Pantallas grandes escritorio */
@media (min-width: 1024px) {
    .cabecera__titulo {
        font-size: 1.8rem;
    }
    .presentacion__contenedor{
        padding-left:15px;
        font-size: 1.5rem;
        
    }
    .presentacion__foto{
        width: 25%;
     }

    .navegacion__elemento a {
        font-size: 1.1rem;
    }
    
    .habilidades__elemento, .aficiones__elemento {
        flex: 0 0 16.66%;
    }
    .Experiencia_profecional{
        display: flex;
        flex-direction: row;
        gap:10px;
        padding:3% 8%;
    }
    .formacion__lista{
        flex-direction: row;
        justify-content: space-around;
        padding: 10px 0;
        gap: 0px;
    }
    .img__contacto{
        display:block;
        width: 40%;
        height: 10%;
        border-radius:5%;
    }
    .contacto__formulario{
        width: 30%;
        margin: 20px;
    }

   
    
    /* .presentacion__foto{
        flex: 0 0 30%;
        width: 20%;
        height: 40%;

    } */
}
